@charset "utf-8";
@import url(reset.css);

*{margin:0; padding:0;}

body{width:100%; margin:0 auto; font-size: 16px; font-family: arial; overflow-x: hidden;}
#wrap{}
	#header{
		width:100%; 
		height:50px; 
		background-color:#fff; 
		padding-top:10px;
		}
		h1{
			margin:0 auto; 
			text-align:center; 
			padding:30px; 
		}
		ul .login,ul .join {
			font-size:12px; 
			font-family:arial;  
			float:left; 
			position:relative; 
			top:-35px; right:-90%; margin-right:10px; margin-bottom:20px;}
		ul .login a,ul .join a{color:gray;}
		
			#menu{font-size:18px; float:left; width:100%; margin-bottom:30px; text-align:center;  }
				#gnb{ 
					display: flex; /* Flexbox를 사용하여 수평 정렬 */ 
					position:relative;  
					left:5%; 
					z-index:999999; 
					text-align:center;  }
						#gnb li{float:left; }
						#gnb>li a{display:block; width:200px; height: 50px; padding-top: 10px;  text-align:center; }
						#gnb li a:hover{text-decoration:none;   }
						#gnb li ul{  position:absolute; top:50px;  background-color:#fff;  color:#000; display:none;  width:200px;  text-align:center;}
						#gnb li:hover ul {display:block; background-color:rgba(0,0,0,0.7);  color:#fff;  }
						#gnb li ul a{color:#e4e4e4; padding-top: 10px;}
						#gnb li ul a:hover{ background-color:rgba(0,0,0,0.7);  color:#fff; }	/**/
						.highlight{color:#003A47; background-color:#FFE3EE; }
				
	
		#popupImg{position:fixed; top:10%; left:60%; z-index:999999; /*display:none;*/ }	
			#popupImg .banner{box-shadow:2px 2px 2px #000; outline:1px solid gray; width:500px; height:600px; }	
				#popupImg a{position:absolute; top:20px; right:10px;}	
		
		#sideNav {
			overflow:hidden; 
			clear:both; 
			position:fixed; 
			top:220px; right:0;  
			float:right; 
			background-color:#fff; 
			outline:1px solid gray; 
			padding:3px; 
			height:450px; 
			text-align:center;  
			border-radius: 15px; 
			z-index: 99999;}

			#sideNav dd{margin:5px 0; padding:0 5px;}
			#sideNav dd a{text-decoration:none;}
			#sideNav dd a:hover{color:gray; text-decoration:none;}
				#sideNav dd span{display:block; margin-top:10px;}
			
		#container{
			clear:both; 
			font-family:arial;   
			display: flex;
			flex-direction: column;}

			/* content1 */
			.content1{
				width: 100%;
				height:500px; 
			}
				.content1Txt{
					width:50%; 
					height:500px; 
					text-align:center; 
					z-index:200; 
					display:inline-block; 
					float:left; 
					position:relative;  }	
					.content1Txt h2 { position:absolute; top:20%; left:25%; font-size:50px;}
					.content1Txt p{ font-size:20px; position:absolute; top:45%; left:45%; margin-left:-50px;}
					.content1Txt span{display:block;  }
					.click {
						position:absolute; 
						left:15%; 
						bottom:37%; 
						z-index: 99;}
						.click a{float:left;}
						.click img{
							margin-left:50px; 
							width:40px; 
							height:40px;
							cursor: pointer;
						}
				
			.slideWrap { overflow: hidden;}
				.slider { 
					position: relative; /* 상대적 위치 */
					width: 950px; /* 3개의 슬라이드를 모두 포함하는 너비 */
					height: 500px;
					display: flex; /* 플렉스 박스를 사용하여 수평 정렬 */
					
				}

					.slider li {
						width: 950px; /* 슬라이드 하나의 너비 */
    					height: 100%;
						list-style: none;
						display: flex; 
						justify-content: center;
						align-items: center;
						
						}
					.slider li img{
						width: 950px; /* 이미지가 li 크기에 맞게 조정 */
						height: 100%;
						display: block; /* 이미지가 블록 레벨 요소로 취급되도록 설정 */}
			
							
						/* content2 */
			.content2 { 
				clear:both; 
				position:relative; 
				width: 100%; 
				height:800px;   
				background-color:#FFE3EE;}
				
				.todayLeft{  
					display:inline; 
					float:left; 
					width:30%; 
					margin-left:75px; 
					margin-right:20px;}
					#leftImg{position:relative;}
						#leftImg img {
							position:absolute; 
							top:180px;  
							left:28%; 
							width:250px; 
							height:100px;}
					#leftTxt {position:relative;}
						#leftTxt p{
							position:absolute;  
							top:320px; 
							left:38%; 
							font-size:60px; 
							font-weight:bold;
							font-size: 80px; 
							text-align:center;  }
						#leftTxt span{
							font-size:px; 
							font-weight:normal; 
							display:block;}

							.todayRight {
								width: 70%;
								height: 800px;
								margin-top: 240px;
								position: relative;
								top: 8%;
								left: 43%;
							}
							
							#rightImg {
								position: absolute;
								top: 0;
								left: 0;
								overflow: hidden;
								width: 880px;
								height: 350px;
							}
							
							#rightImg li {
								width: 200px;
								height: 310px;
								border-radius: 10px;
								transition: transform 0.3s;
								position: absolute;
								margin-right: 20px;
							}
							
							#rightImg li:hover {
								transform: scale(1.1);
								border-radius: 10px;
							}
							#rightImg img{
								border-radius: 10px;
							}
							
							#btn {
								z-index: 99999;
							}
							
							#btn a {
								cursor: pointer;
							}
							
							.prev {
								width: 50px;
								height: 50px;
								position: absolute;
								top: 55%;
								left: 38%;
							}
							
							.next{
								width:50px; 
								height: 50px; 
								position:absolute; 
								top:55%; 
								right:9%;
							}
						/**/

					.content3,.content4,.content5 {
						display: block;
						width: 100%; /* 각 content가 전체 너비를 차지하도록 설정 */
						height: 650px;
						margin-bottom: 20px; /* 각 content 사이에 간격 추가 */
						}
						.clearfix::after {
							content: "";
							display: block;
							clear: both;
						}
						
						.content3 {
							width: 100%;
							overflow: hidden; /* 또는 clearfix 클래스를 추가 */
							margin-left: 100px;
							margin-top: 200px;
						}
						
						.content3-1, .content3-2, .content3-3, .content3-4 {
							float: left;
							width: 380px;
							height: auto;
							position: relative;
							margin-right: 30px;
						}
						
						.content3-3, .content3-4 {
							clear: none; 
						}
					
						
						#content3-1Img .img1, 
						#content3-2Img .img1, 
						#content3-3Img .img1,
						#content3-4Img .img1 {
							border-radius: 10px;
							cursor: pointer;
							width: 380px;
						}
						#content3-1Txt,#content3-2Txt,
						#content3-3Txt,#content3-4Txt{
							font-size: 14px;
							margin-top: 15px;
						}
						
						.content3-1Bottom, .content3-1Bottom2, 
						.content3-2Bottom, .content3-2Bottom2,
						.content3-3Bottom, .content3-3Bottom2, 
						.content3-4Bottom, .content3-4Bottom2 {
							margin-top: 15px;
						}
						
						#content3-1Img2 .img2, #content3-1Img3 .img4, 
						#content3-2Img2 .img2, #content3-2Img3 .img4,
						#content3-3Img2 .img2, #content3-3Img3 .img4,
						#content3-4Img2 .img2, #content3-4Img3 .img4 {
							border-radius: 12px;
							width: 40px;
							height: 40px;
						}
						
						#content3-1Txt2,#content3-1Txt3,
						#content3-2Txt2,#content3-2Txt3,
						#content3-3Txt2,#content3-3Txt3,
						#content3-4Txt2,#content3-4Txt3
						 {
							position: relative;
							cursor: pointer;
							font-size: 12px;
						}

						#content3-1Txt2 .txt1, #content3-1Txt3 .txt1,
						#content3-2Txt2 .txt1, #content3-2Txt3 .txt1,
						#content3-3Txt2 .txt1, #content3-3Txt3 .txt1,
						#content3-4Txt2 .txt1, #content3-4Txt3 .txt1 {
							position: absolute;
							top: -30px;
							left: 70px;
						}

						.txt1 a:hover,.txt2 a:hover{color: #5ea9f0;}
						
						#content3-1Add,#content3-1Add2,
						#content3-2Add,#content3-2Add2,
						#content3-3Add,#content3-3Add2,
						#content3-4Add,#content3-4Add2
						{position: relative;}

						#content3-1Add .txt2, #content3-1Add2 .txt2,
						#content3-2Add .txt2, #content3-2Add2 .txt2,
						#content3-3Add .txt2, #content3-3Add2 .txt2,
						#content3-4Add .txt2, #content3-4Add2 .txt2
						 {
							position: absolute;
							top: -30px;
							left: 320px;
							font-size: 10px;
						}
						
						#content3-1Add .img3, #content3-1Add2 .img5,
						#content3-2Add .img3, #content3-2Add2 .img5,
						#content3-3Add .img3, #content3-3Add2 .img5,
						#content3-4Add .img3, #content3-4Add2 .img5
						 {
							position: absolute;
							top: -30px;
							left: 355px;
							width: 15px;
							height: 15px;
							cursor: pointer;
						}
				.content4{
					clear: both;
					margin-left: 100px;
				}
					.content4 h3{
						font-size: 50px;
						padding: 100px 0;
					}
					.content4 li{
						float: left;
						margin-right: 25px;
					}
					.content4 li img{
						width:390px;
						height: 190px;
						border-radius: 10px;
					}
					.content4 img:hover{border: 8px solid #ffa0c6;}
				.content5{
					clear: both;
					margin-left: 100px;
					margin-bottom: 100px;
				}	
					.content5 h3{
						font-size: 50px;
						padding: 100px 0;
						
					}	
						.content5 .video-wrapper {
							position: relative;
							width: calc(420px * 5); /* 복제된 슬라이드를 포함한 전체 너비 */
							height: 250px; /* 동영상의 높이와 일치 */
							overflow: hidden; /* 슬라이드 밖으로 나가는 요소를 숨김 */
							display: flex; /* 슬라이드를 가로로 배치 */
						}
						
						.video-wrapper li {
							min-width: 420px; /* 슬라이드의 너비를 동영상의 너비와 일치 */
							height: 100%; /* 컨테이너의 높이와 일치 */
							list-style: none;
							display: flex; /* 동영상을 가운데 정렬 */
							justify-content: center;
							align-items: center;
						}
						.video-wrapper iframe {border-radius: 10px;}

		#footer{
			clear: both; 
			color:#fff; 
			background-color:#003A47; 
			width:100%; height: 500px; 
			position:relative; 
			font-size: 14px;
			z-index: 99;
		}
			#foot{height:500px;}
				.contact{position: relative; top:50px; left:20px;  }
					.contact h2{margin-bottom: 30px;}
					.contact li{margin-bottom: 20px;}
				.contact2{position: relative; top:-40px; left:140px; }
					.contact2 h2 a{ font-size: 40px; color:#fff;}
					.contact2 li{ margin-bottom:10px; color:#fff;}
				.contact3{position: relative; top:-160px; left:300px; color:#fff; }
					.contact3 li{margin-bottom:10px;}
				.location{width:300px; height:auto; position: relative; top:-330px; left:1100px;  }
					.location h2{ color:#fff;}
					.location li{ margin-bottom: 10px; color:#fff;}
					.location .gil{border: 1px solid #fff; border-radius: 30px; width: 150px; padding: 10px; margin-top: 70px;}
					.location .gil a{color: #fff;}
					.location .gil a:hover{ color: #ff91eb; font-weight: bold; text-decoration: none;}
				
				.map{width:300px; height: 300px;  position: absolute; top:50px; left:30%;}	
				.address {position: absolute; top:35px; left:80%; color:#fff; font-size: 14px;}
					.address li{}
					

			